body
    margin: 0
    padding: 0
    height: 90vh
    width: 100%
    background-color:#33328f
    display: flex
    justify-content: center
    align-items: center
    div
        background-color: #201f52
        height: 70%
        width: 25%
        display: flex
        flex-direction: column
        align-items: center
        gap: 1em
        h1
            color: white
        div
            width: 75%
            display: flex
            flex-direction: row
            justify-content: center
            background-color: #151431
            height: 10%
            p
                width: 75%
                height: 100%
            button
                width: 20%
                height: 90%
                background-color: #33328f
                border: 2px #151431 solid
        form
            width: 75%
            display: flex
            justify-content: space-between
            label
                color: white
            input
                width: 10%
                accent-color: green 